/* ========== GRID ELEMENT PARTIAL FILE ========== */

/* 
 * Contains the SCSS code for setting up 
 * grid elements.
*/

.grid-el {
    background-color: $color-white;
    padding: 20px;
    position: relative;

    h2 {
        text-align: center;
        color: $color-dark-grey;
        font-size: $font-size-n;
        font-weight: normal;
    }

    hr {
        width: 80%;
        border-color: rgba(112, 112, 112, 0.41);
    }
}