/* ========== SELECTOR PARTIAL FILE ========== */

/* 
 * Contains the CSS rules for setting up the selectors
*/

.object-selector {
    margin-top: 10px;
    width: 100%;
}

#lt-type-selector {
    margin-top: 0;
}