/* ========== TIMER PARTIAL FILE ========== */

/* 
 * Contains the CSS rules for setting up the timer
*/

.timer {
    p {
        font-size: $font-size-xl;
        margin: 0;
        text-align: center;
    }
}