/* ========== VARIABLES PARTIAL FILE ========== */

/* 
 * Contains the SCSS code for setting up variables for
 * use within the SCSS partials.
 */

 $font-family-sofia: "Sofia Pro";

 $color-white: white;
 $color-xlight-grey: #F8F8F8;
 $color-light-grey: rgba(118, 118, 188, 0.4);
 $color-grey: #767676;
 $color-dark-grey: #464646;
 $color-green: #52DDA2;
 $color-red: #DD6252;

 $font-size-xl: 76px;
 $font-size-l: 32px;
 $font-size-n: 27px;
 $font-size-s: 23px;
 $font-size-xs: 18px;
 $font-size-xxs: 16px;
 
 $border-standard: '1px solid rgba(112, 112, 112, 0.64)';
